# bytecode folder
**/__pycache__

# директория с исполняемым файлом getera.exe
**/bin

# директория для хранения результатов расчета
**/results

# директория среды разработки
**/.vscode

# тестовые файлы
test.ans
test.out
